@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

body {
    font-family     : 'Catamaran', sans-serif;
    background-color: lightgrey;
    text-align      : center;

    .main {
        margin: 0 20%;

        h1 {
            font-weight: 600;
        }

        .panel {
            .panel-heading {
                .panel-title {
                    font-size: 1.6em;
                    ;
                }
            }

            .panel-body {
                p {
                    font-size: 1.4em;
                    ;
                }
            }
        }

        .newFact {
            font-size  : 1.2em;
            font-weight: 700;
            padding    : 1em 4em;
        }
    }
}